ASSIGNMENT

Program the following tasks in Python:

The input is 100 records in a file. Each record includes a group of fields of a student: student's first name, middle initial (could be empty), last name, address, major (its default value is "UNT", but cannot be empty), the credit hours the student has completed, receiving scholarship or not (the value must be "TRUE" or "FALSE") and GPA. Except it is explicitly described, any field cannot be empty. You need to create the input file yourself.

Your Python program sorts the records in the input file according to students' last names (you need to describe your sorting rule using comments in your Python program). Then create a Table to display the sorted 100 records, where each row is a student's record, and each column represents a field of the record such as first name, last name, etc.. Finally, output the sorted record into a file.

You need to submit:

The input file with 100 records (1 point).

Python or Python notebook program including a description of the program functions and sorting rule. (6 points), and instruction for running the program (1 point).

Sorted output file (2 points).

Input file at https://github.com/babloomarkose/DataInPython/blob/master/SortTable/StudentRecord.csv

INSTRUCTIONS TO RUN CODE
Load If you are running code in local machine 
STEP 1: Download the data file from        https://github.com/babloomarkose/DataInPython/blob/master/SortTable/StudentRecord.csv
STEP 2: Update variable 'InputFilepath' in the program with the location of the directory(without the '/' at the end)
STEP 3: If you want to save the output file in some location other than current directory, update variable            outputfilepath with your new directory path in quotes(without the '/' at the end)
STEP 4: Execute the program

Load If you are running code that can access file from url address, start fron STEP 3

DESCRIPTION OF PROGRAM
Program can be divided in to 4 parts
PART 1: LOAD DATA
PART 2: VALIDATE DATA
PART 3: SORT DATA
PART 4: WRITE DATA TO FILE
PART 5: DISPLAY SORTED DATA

PART 1: LOAD DATA
Load the data at https://github.com/babloomarkose/DataInPython/blob/master/SortTable/StudentRecord.csv into the program. Here one can download the data file to one's local directory and update the 'InputFilepath' variable to access the data file from local.

PART 2: VALIDATE DATA
Validation of data is done and data is cleaned in this part
      1.Colomn name 'FirstName' had a leading space, which is removed
      2.GPA is set to 2 decimal places & between values 1 and 4(values below 1 imputed with 1 & above with 4) 
      3.Credithours is set to whole number & between values 1 and 130(values below 1 imputed with 1 & above with 4)
      4.Duplicate records are emoved keepig only the first of all duplicates
      5.Impute Missing Values for colomns Mid_initail and Major('N.A' for Mid_initail and 'UNT' for Major)
      6.Remove rows with missing values for any colomn other than colomns Mid_initail and Major
                   For strings get the index of cell with 'nan' and drop the rows
                   For nummeric values use built-in dropna()
      7.Truncate the Maximum width of each coloumn
      8.Convert Scholarship to TRUE/FALSE instead of 0/1
    

PART 3: SORT DATA and SORTING RULE
Inbuilt function Table.sort() from data science package's table module is used in sorting.
The table is sorted in ascending order of 'LastName', ascending is default argument to the sort() function. 
The colomn named 'LastName' is passed as argument as we need to sort the table based on that colomn. Sort function sorts the table in-place 
If the LastNames are same then the data is then sorted according to FirstName. To achieve this, as first step, sort according to First name so that sorting records with same last name will be sorted in ascending order of FirstName 

PART 4: WRITE DATA TO FILE
The sorted table instance is saven to a csv file locally. By default the current directory is choosen to save the file. If one needs to change the location of saved file, one need to update the variable 'outputfilepath' with one's choosen directory-path(without the '/' at the end)

In [268]:
from datascience import Table # Including Table functions from datascience package into the running instance
import os# including os package into running instance

#LOAD DATA

#Loading data from CSV file URL address 
InputFilepath='https://raw.githubusercontent.com/babloomarkose/DataInPython/master/SortTable'
StudentInfo=Table().read_table(InputFilepath+'/StudentRecord.csv')

#Print the Student Table
print("The Unsorted Student Table:1st 20 rows ")
StudentInfo.show(20) # Show only the first 20 records

#DATA CLEANING is a necessary step before data manipulation

#1. Data Cleaning : Removing space from colomn label
StudentInfo=StudentInfo.relabeled(' FirstName', 'FirstName')


#2.  Data Cleaning : Set GPA to 2 decimal places and between values 1 and 4            
def ValidateGPA(x):
    if(x<1):
        return(1)
    elif(x>4):
        return(4)
    else:
        return(round(x,2))
StudentInfo['GPA'] =StudentInfo.apply(lambda x: ValidateGPA(x), 'GPA')

                        
#3. Data Cleaning : Set Credithours to whole number and between values 1 and 130
    #Limiting between values 1 and 130 as 1-130 for Bachelors and 1-64 for Masters, maximum being 130)           
def ValidateCredithours(x):
    if(x<1):
        return round(max(x, 1))  
    else:
        return round(min(x, 130))
StudentInfo['CreditHours'] =StudentInfo.apply(lambda x: ValidateCredithours(x), 'CreditHours')
                              
#4. Data Cleaning : Remove Duplicate records
pandasDF=StudentInfo.to_df()
pandasDF.drop_duplicates(keep='first',inplace=True)#keep='first' retains the first among n duplicates and inplace=True modify original record

#5. Data Cleaning : Impute Missing Values for colomns Mid_initail and Major
                   #'N.A' for Mid_initail and 'UNT' for Major. 
pandasDF['Mid_Initial']=pandasDF['Mid_Initial'].replace('nan','N.A')
pandasDF['Major']=pandasDF['Major'].replace('nan','UNT')


#6. Data Cleaning : Remove rows with missing values for any colomn other than colomns Mid_initail and Major
                   #For strings get the index of cell with 'nan' and drop the rows
                   #For nummeric values use built-in dropna()
indexNames = pandasDF[ pandasDF['LastName'] == 'nan' ].index
pandasDF.drop(indexNames , inplace=True)
indexNames = pandasDF[ pandasDF['Address'] == 'nan' ].index
pandasDF.drop(indexNames , inplace=True)
indexNames = pandasDF[ pandasDF['FirstName'] == 'nan' ].index
pandasDF.drop(indexNames , inplace=True)
pandasDF.dropna(subset=['GPA', 'Scholarship','CreditHours'], inplace=True)

#7.    #Data Cleaning : Set all field's Maximum width
pandasDF['LastName'] = pandasDF['LastName'].apply(lambda x: x[:10])
pandasDF['FirstName'] = pandasDF['FirstName'].apply(lambda x: x[:10])
pandasDF['Mid_Initial'] = pandasDF['Mid_Initial'].apply(lambda x: x[:1])
pandasDF['Address'] = pandasDF['Address'].apply(lambda x: x[:20])
pandasDF['Major'] = pandasDF['Major'].apply(lambda x: x[:15])
#Converting back to datascience table after data manipulation
StudentInfo1=Table.from_df(pandasDF)

#8. Data Cleaning : Convert Scholarship to TRUE/FALSE instead of 0/1
def ValidateScholarship(x):
    if(x==1):
        return ('TRUE')
    else:
        return ('FALSE')
StudentInfo1['Scholarship'] =StudentInfo1.apply(lambda x: ValidateScholarship(x), 'Scholarship')

#SORT
#Sort the table according to Last name, default is Ascending order
    #As first step sort according to First name so that sorting records with same last name will be sorted
    #in ascending order of FirstName. 
 
SortedTable=(StudentInfo1.sort('FirstName')).sort('LastName')
print("The Cleaned Student Table sorted according to Last Name")
SortedTable.show()

#Write output to file
outputfilepath = os.getcwd()
print(outputfilepath)
SortedTable.to_csv(outputfilepath+'/outputTable.csv')

#Displaying Sorted Student Data from output file
print("Reading from Output file The Cleaned and SORTED new Student FILE 20 rows")
StudentTable=Table.read_table(dirpath+'/outputTable.csv')
StudentTable.show(20)

The Unsorted Student Table:1st 20 rows

The Cleaned Student Table sorted according to Last Name

/Users/jacobdenny/Library/Mobile Documents/com~apple~CloudDocs/.Trash/SortTable
Reading from Output file The Cleaned and SORTED new Student FILE 20 rows